name: Build and Release

on:
  push:
    branches: [master]

jobs:
  build-and-release:
    name: Build and Release
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: "17.0.8"
      - uses: subosito/flutter-action@v2
      - run: flutter pub get

      - name: Build Android
        run: flutter build apk --release --split-per-abi

      - name: Build Windows
        run: flutter build windows --release

      - name: install rar
        run: sudo apt-get install rar

      - name: make rar
        run: |
          cd build\windows\x64\runner\Release\build\windows\x64\runner\Release\
          rar a -r writey.rar .

      - name: Set up Bash
        uses: actions/setup-node@v4
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"

      - name: Run Changelog Script
        run: |
          chmod +x generate_changelog.sh
            ./generate_changelog.sh 1.0.${{ github.run_number }}

      - name: Push to Release Branch
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*.apk,build/windows/runner/Release/*.rar"
          token: ${{ secrets.GH_TOKEN }}
          tag: v1.0.${{ github.run_number }}
          bodyFile: "./CHANGELOG.md"
          prerelease: true

  Release-to-github-pages:
    name: Release to Github Pages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          baseHref: /writey/
          webRenderer: canvaskit
